widths = {
	xs: {
		prefix: xs,
		container-width: 360px,
		min-screen: 0,
		container-padding: 25px,
		column-padding: 15px,
		column-number: 12,
	},
	sm: {
		prefix: sm,
		container-width: 768px,
		min-screen: 798px,
		container-padding: 25px,
		column-padding: 15px,
		column-number: 12,
	},
	md: {
		prefix: md,
		container-width: 980px,
		min-screen: 1010px,
		container-padding: 25px,
		column-padding: 15px,
		column-number: 12,
	},
	lg: {
		prefix: lg,
		container-width: 1200px,
		min-screen: 1230px,
		container-padding: 25px,
		column-padding: 15px,
		column-number: 12,
	},
}