h2.cat__title День рождения
.banner
	.banner__title День рождения
	.banner__text День рождения - отличный повод украсить дом, дачу или ресторан шариками. Выбирайте комплекты со скидками, гирлянды или закажите много одноцветных шаров
section.cat
	.row
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-red.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-blue.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-purpur.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-cyan.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-red.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-blue.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-purpur.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-3
			.cat-item
				h3.cat-item__title Шарик красный
				.cat-item__img
					img(src="img/baloon-cyan.jpg", alt="baloon")
				p.cat-item__price 100 руб
				form.cat-item__order(action="")
					input.cat-item__number#item-number(type="text" placeholder="2")
					label.cat-item__unit(for="item-number") шт.
					input.cat-item__to-basket(type="submit" value="В корзину")
		.col-lg-12
			.dashed-border
		
		include cata-gal