.col-lg-12
	.cat-gal
		h1.cat-gal__title Не знаете, что выбрать?
		span.cat-gal__title--light Посмотрите нашу галерею и найдите идеи там
		.row.text-center
			
			+gal-item(item1)
			+gal-item(item2)
			+gal-item(item3)
			+gal-item(item4)