h2.cat__title День рождения
.banner
	.banner__title День рождения
	.banner__text День рождения - отличный повод украсить дом, дачу или ресторан шариками. Выбирайте комплекты со скидками, гирлянды или закажите много одноцветных шаров
section.cat
	.row

		+catalog-item(baloonRed)
		+catalog-item(baloonCyan)
		+catalog-item(baloonPurpur)
		+catalog-item(baloonBlue)
		+catalog-item(baloonRed)
		+catalog-item(baloonCyan)
		+catalog-item(baloonPurpur)
		+catalog-item(baloonBlue)

	.row
		include cata-gal