nav.side-menu
	h1.side-menu__title Каталог
	ul.side-menu__list
		li.side-menu__item
			p.side-menu__subtitle Шарики
			ul.side-menu__sublist
				li.side-menu__subitem
					a.side-menu__link(href="#") Далеко-далеко.
				li.side-menu__subitem
					a.side-menu__link(href="#") Большой!
				li.side-menu__subitem
					a.side-menu__link(href="#") Ведущими.
		li.side-menu__item
			p.side-menu__subtitle Шарики с печатью
			ul.side-menu__sublist
				li.side-menu__subitem
					a.side-menu__link(href="#") Далеко-далеко.
				li.side-menu__subitem
					a.side-menu__link(href="#") Рукописи.
				li.side-menu__subitem
					a.side-menu__link(href="#") Но.
		li.side-menu__item
			p.side-menu__subtitle Гирлянды
			ul.side-menu__sublist
				li.side-menu__subitem
					a.side-menu__link(href="#") Далеко-далеко.
				li.side-menu__subitem
					a.side-menu__link(href="#") Путь!
				li.side-menu__subitem
					a.side-menu__link(href="#") Алфавит.
		li.side-menu__item
			p.side-menu__subtitle Фигуры
			ul.side-menu__sublist
				li.side-menu__subitem
					a.side-menu__link(href="#") Далеко-далеко.
				li.side-menu__subitem
					a.side-menu__link(href="#") Парадигматическая.
				li.side-menu__subitem
					a.side-menu__link(href="#") Грустный.
		li.side-menu__item
			p.side-menu__subtitle Готовое решение
			ul.side-menu__sublist
				li.side-menu__subitem
					a.side-menu__link.side-menu__link--active(href="#") День рождения
				li.side-menu__subitem
					a.side-menu__link(href="#") Свадьба
				li.side-menu__subitem
					a.side-menu__link(href="#") Корпоратив