.col-lg-12
	.cat-gal
		h1.cat-gal__title Не знаете, что выбрать?
		span.cat-gal__title--light Посмотрите нашу галерею и найдите идеи там
		.row
			.col-lg-3.text-center
				a.cat-gal__link(href="#")
					img.cat-gal__img(src="img/gal-img-1.jpg", alt="gallery item")
			.col-lg-3.text-center
				a.cat-gal__link(href="#")
					img.cat-gal__img(src="img/gal-img-2.jpg", alt="gallery item")
			.col-lg-3.text-center
				a.cat-gal__link(href="#")
					img.cat-gal__img(src="img/gal-img-3.jpg", alt="gallery item")
			.col-lg-3.text-center
				a.cat-gal__link(href="#")
					img.cat-gal__img(src="img/gal-img-4.jpg", alt="gallery item")