main.col-lg-9.col-md-9.col-sm-6
	h2.main__title День рождения
	.banner
		.banner__title День рождения
		.banner__text День рождения - отличный повод украсить дом, дачу или ресторан шариками. Выбирайте комплекты со скидками, гирлянды или закажите много одноцветных шаров
	section.cat
		.row

			+catalog-item
			+catalog-item

		.row
			include gallery