.col-lg-12.col-md-12.col-sm-12
	.cat-gal
		h1.cat-gal__title Не знаете, что выбрать?
		a(href="#").cat-gal__title--light Посмотрите нашу галерею и найдите идеи там
		.row.text-center
			
			+gal-item

			a(href="#").cat-gal__title--light-small Посмотрите нашу галерею и найдите идеи там