-menu = [{href:'index.html', title:'Каталог', id:'catalog'},{href:'services.html', title:'Услуги', id:'services'},{href:'#', title:'Портфолио', id:'portfolio'},{href:'payment.html', title:'Доставка и оплата', id:'payment'},{href:'#', title:'Оптовым клиентам', id:'wholesale'},{href:'#', title:'Оформить заказ', id:'formalization'}]

nav.main-menu
	.main-menu__burger
		span.main-menu__burger-strip
	ul.main-menu__list
		each val in menu
			if val.id === id
				li.main-menu__item
					a.main-menu__a.main-menu__a--active(href=val.href)=val.title
			else
				li.main-menu__item
					a.main-menu__a(href=val.href)=val.title