mixin service-item
	.col-lg-12.col-md-12.col-sm-6
		.service
			.col-lg-3.col-md-4.col-sm-2
				img.service__img(src="img/service-img-1.jpg", alt="")
			.col-lg-9.col-md-8.col-sm-4
				h3.service__title Оформление шариками
				p.service__text День рождения - отличный повод украсить дом, дачу или ресторан шариками. Выбирайте фкомплекты со скидками, гирлянды или закажите много одноцветных шаров
				a.service__button(href="#") Хочу шарики
				span.service__price От 1500 р