block id

include cata-item
include cat-gal-item
include services-item

<!DOCTYPE html>
html(lang="ru")
	head
		block title

		include links
	body
		.wrapper
			include header

			block content

			footer.container
				include calculator

		include gallery-lightbox
		script(src="js/main.min.js")