.contacts
	margin-bottom 30px
	margin-top -20px
	position relative
	left 83px
	
	&__phone
		&:not(:last-child)
			margin-bottom 10px
	
	&__number
		mix-contacts-number()
		
		&--gray
			color gray-light

	@media (min-width sm-min)
		position relative
		left auto
		margin-top 27px
		padding-top 8px
		display inline-block

		&:before
			sprite($png_phone)
			
			content ''
			display inline-block
			position absolute
			top 0
		
		
		&__phone
			padding-left 45px