.header
	&__strip
		height 30px
		overflow hidden
		position relative
		
	&__color-border
		width 1200px
		height 91px
		position absolute
		bottom -1px
		left -600px
		right -600px
		margin auto

@import 'logo'