.portf-menu
	display none
	
	@media (min-width sm-min)
		display block
		border-bottom 1px solid gray-border
		padding-bottom 20px
		margin-right 50px
		margin-bottom 20px
		
		&__item
			display inline-block
			margin-right 40px
			
		&__a
			font-size 17px
			text-decoration underline
	
	@media (min-width md-min)
		margin-right 0