.print-params
	
	@media (min-width sm-min)
		&__form
			border 1px solid gray-border
			border-radius 3px
			padding 23px
	

@import 'print-color'
@import 'print-number'
@import 'print-sides'
@import 'print-size'
@import 'print-blow'
@import 'print-sum'
@import 'print-send'