// нормалайз
@import '../../bower_components/normalize-styl/_normalize'
// шрифты
@import 'partials/fonts'
// сетка
@import 'partials/grid'
// переменнтые
@import 'partials/variables'
// плейсхолдеры
@import 'partials/placeholders'
// миксины
@import 'partials/mixins'
// общие стили
@import 'partials/common'
// атласы
// @import 'partials/spriteSvg'
@import 'partials/spritePng'

// каталог

// шапка каталога
@import 'partials/cata-head'

// боковое меню каталога
@import 'partials/cata-aside'

// контент каталога
@import 'partials/cata-content'

// галерея в каталоге
@import 'partials/cata-gal'

// калькулятор в каталоге
@import 'partials/calculator'