// нормалайз
@import '../../bower_components/normalize-styl/_normalize'
// шрифты
@import 'partials/fonts'
// сетка
@import 'partials/grid'
// переменнтые
@import 'partials/variables'
// плейсхолдеры
@import 'partials/placeholders'
// миксины
@import 'partials/mixins'
// общие стили
@import 'partials/common'
// атласы
// @import 'partials/spriteSvg'
@import 'partials/spritePng'

// шаблон

// шапка
@import 'partials/header'

// боковое меню
@import 'partials/aside'

// калькулятор
@import 'partials/calculator'

// галерея
@import 'partials/gallery'

// лайтбокс галереи
@import 'partials/gallery-lightbox'

// пойти выбрать шарик
@import 'partials/choose-baloon'

// каталог (она же главная)

// контент каталога
@import 'partials/content-catalog'

// услуги

// контент услуг
@import 'partials/content-services'

// доставка и оплата

// контент доставки и оплаты
@import 'partials/content-payment'