header.header
	.header__strip
		.header__color-border
	.container
		.row
			.col-xs-10.col-sm-5.col-md-4
				include block/logo
			
			.col-xs-8.col-sm-4.col-md-5
				include block/contacts

			.col-xs-4.col-sm-3.col-md-3
				include block/bucket

			.col-xs-12
				include block/navigation