main.portfolio
	h1.portfolio__title.main__title Портфолио
	include block/portf-menu

	section.portf-album#portfPrint
		h2.portf-album__title Печать на шарах
		.row
			.col-xs-12.col-sm-4
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/300x300', alt='картинка')
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/400x200', alt='картинка')
			.col-xs-12.col-sm-8
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/300x300', alt='картинка')
				.row
					.col-xs-12.col-sm-6
						.portf-album__face
							img.portf-album__img(src='http://placehold.it/150x200', alt='картинка')
					.col-xs-12.col-sm-6
						.portf-album__face
							img.portf-album__img(src='http://placehold.it/150x300', alt='картинка')

	section.portf-album#portfGirl
		h2.portf-album__title Гирлянды
		.row
			.col-xs-12.col-sm-4
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/300x300', alt='картинка')
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/400x200', alt='картинка')
			.col-xs-12.col-sm-8
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/300x300', alt='картинка')
				.row
					.col-xs-12.col-sm-6
						.portf-album__face
							img.portf-album__img(src='http://placehold.it/150x200', alt='картинка')
					.col-xs-12.col-sm-6
						.portf-album__face
							img.portf-album__img(src='http://placehold.it/150x300', alt='картинка')

	section.portf-album#portfCel
		h2.portf-album__title Оформление праздников
		.row
			.col-xs-12.col-sm-4
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/300x300', alt='картинка')
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/400x200', alt='картинка')
			.col-xs-12.col-sm-8
				.portf-album__face
					img.portf-album__img(src='http://placehold.it/300x300', alt='картинка')
				.row
					.col-xs-12.col-sm-6
						.portf-album__face
							img.portf-album__img(src='http://placehold.it/150x200', alt='картинка')
					.col-xs-12.col-sm-6
						.portf-album__face
							img.portf-album__img(src='http://placehold.it/150x300', alt='картинка')