.gray-box
	display inline-block
	width 40px
	height 20px
	background #fcf4ee
	margin 0 10px -4px 0

.calc
	padding 30px 0 100px
	position relative
	
	@media (min-width contWMd) and (max-width (contWLg - 1))
		padding 30px 0 75px
	
	@media (max-width (contWMd - 1px))
		padding 30px 0 75px
	
	&__title
		color red
		font-size fz-main+6
		text-align center
		margin-bottom 20px
		
		@media (max-width (contWMd - 1px))
			background lighterest-gray
			text-align left
			padding 10px
			
	
	&__form

		@media (min-width contWMd)
			padding 20px 40px
			border 1px solid lighter-gray
			border-radius 1px
		
		@media (min-width contWLg)
			margin 0 20px 10px
		
		@media (min-width contWMd) and (max-width (contWLg - 1))
			margin 0 0 10px
		
	&__subtitle
		font-size fz-main
		margin-bottom 20px
		
		@media (max-width (contWMd - 1px))
			margin-bottom 10px
	
	&__number
		display inline-block
		font-size fz-main
		padding 3px 7px 5px
	
	input[type="radio"]
		display none
		
		&:checked
			+ .calc__number
				background #fcf4ee

	&__color
		
		height 20px
		
		&-square
			vertical-align bottom
			display inline-block
			width 20px
			height 20px
			background blue
			margin-right 10px

		font-size fz-main
	
	&__pic-down
		display none
	
	&__pic-label
		font-size fz-main
		position relative
		color blue
		cursor pointer
		padding-left 30px
		
		&--round
			// @extend $bifaf
			// @extend $left-center
			position absolute
			top 0
			bottom 0
			left 0
			margin auto
			display inline-block
			width 20px
			height 20px
			border-radius 50%
			background lightest-gray
	
	&__count
		@media (min-width contWLg)
			margin-left 50px

	&__price
		font-size fz-main
		text-transform uppercase
		font-weight bold
	
	&__we-contact
		font-family ptsans
		font-size fz-little
		
		@media (min-width contWLg)
			margin 0 0 30px 50px
		
		@media (min-width contWMd) and (max-width (contWLg - 1))
			margin 0 0 30px
		
		@media (max-width (contWMd - 1px))
			font-size fz-head
			max-width 350px
			margin-bottom 50px
	
	&__make-order
		padding 5px 36px
		font-size fz-main+6
		color white
		background red
		border none
	
	&__button
		@media (min-width contWMd)
			text-align center
	
	&__num
	&__colors
	&__pic
	&__count
		
		@media (min-width contWMd) and (max-width (contWLg - 1))
			margin-bottom 35px
		
		@media (max-width (contWMd - 1px))
			margin-bottom 30px
		
footer
	position relative
	
	&:after
		@extend $bifaf
		width 100%
		bottom 0
		left 0
		right 0
		margin auto
		height 72px
		background url(../img/colorstrip.png) 0 0 no-repeat
		background-size cover
		
		@media (max-width (contWMd - 1px))
			height 40px