.cat-gal
	padding 20px 0
	
	@media (min-width contWMd)
		dashed-border(top)

	&__title
		font-size fz-main+3
		
		@media (min-width contWMd)
			margin 0 35px 15px 0
			display inline-block
		
		@media (max-width (contWMd - 1px))
			margin 0 0 20px
		
		&--light
			color dark-blue
			font-size fz-main+1
			
			&-small
				display none
				
				@media (max-width (contWMd - 1px))
					font-size fz-main+1
					margin-top 20px
					margin-bottom 10px
					display inline-block
					color blue
					text-decoration underline
			
			@media (max-width (contWMd - 1px))
				display none
			
	&__img
		width 100%
	

		




