.choose-baloon
	margin-bottom 20px
	
	@media (max-width (contWMd - 1px))
		text-align center
		
	&__button
		font-size fz-main+6
		color white
		display inline-block
		background red
		padding 7px 42px
		
		@media (min-width contWMd)
			margin-right 55px
		
		@media (max-width (contWMd - 1px))
			margin-bottom 10px
		
	&__text
		font-size fz-little
		
		@media (max-width (contWMd - 1px))
			display inline-block
	