.pull-left
	float left

.pull-right *
	float right

.text-left
	text-align left

.text-center
	text-align center

.text-right
	text-align right

*
	box-sizing inherit

body
	box-sizing content-box
	font-family serif

p
	margin 0

a
	text-decoration none