body
	font-size fz-main
	color gray-text
	background-image url(../img/background.jpg)
	background-repeat repeat

.wrapper
	max-width 320px
	background-color white
	margin 0 auto
	box-shadow 0 0 30px rgba(black, .5)
	
	@media (min-width 798px)
		max-width 768px
	
	@media (min-width 1010px)
		max-width 980px
	
	@media (min-width 1230px)
		max-width 1200px

svg
	overflow hidden