.order-baloons
	margin-bottom 20px
	
	&__title
		font-size fz-main+6
		margin-bottom 10px
	
	&__text
		font-size fz-main+1
		margin-bottom 45px
	
	&__perk
		font-size fz-main
		padding 10px 0 10px 40px
		position relative
		margin-bottom 45px
		
		&:before
			@extend $bifaf, $left-center
			
			width 30px
			height 30px
			box-shadow inset 0 0 0 7px red
			border-radius 50%
	
	&__img
		width 100%
	
	.choose-baloon__button
		@media (min-width contWMd) and (max-width (contWLg - 1))
			margin-right 10px
	
.payment-content
	&__text
		font-size fz-main+3
		
		p
			margin-bottom 20px
	
	&__img
		width 100%
		margin 0 0 20px
	
	&__main-img
		width 100%

.payment-content + .calc
	.col-off-md-3
		display block
		margin 0 auto