@font-face 
	font-family "ZopaRegular"
	src url("../fonts/ZopaRegular.eot")
	src url("../fonts/ZopaRegular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/ZopaRegular.woff") format("woff"),
		url("../fonts/ZopaRegular/ZopaRegular.ttf") format("truetype")
	font-style normal
	font-weight normal