.upper-strip
	background url(../img/colorstrip.png) 0 100% no-repeat
	height 24px
	width 100%
	
	&__wrapper
		padding 2px 0 5px
	
	&__text
		color white
		font-size fz-main+1

.logo
	position relative
	padding-left 85px
	
	@media (max-width (contWMd - 1px))
		padding-left 65px
	
	&:before

		sprite($logo)

		@extend $bifaf
		@extend $left-center
		
		@media (max-width (contWMd - 1px))
			left -20px

	&__title
		font-family zopa
		font-size fz-main*3+13
		
		@media (max-width (contWMd - 1px))
			display inline-block
	
	&__slogan
		font-size fz-main+1
		
		@media (max-width (contWMd - 1px))
			display inline-block
			position relative
			bottom 10px
			left 50px

.header
	padding-bottom 40px
	
	&__main
		padding 35px 0
		
	&__phones
		display inline-block
		
		@media (max-width (contWMd - 1px))
			margin-left 50px
		
		@media (min-width contWMd)
			text-align center
			padding-top 15px
		
	&__phone
		display inline-block
		font-size fz-head
		
		@media (min-width contWLg)
			margin 0 50px
		
		&--gray
			color light-gray
			
		&:first-child
			padding 5px 0
			position relative
			
			@media (min-width contWMd)
				&:before
					sprite($iconphone)
					
					@extend $bifaf
					@extend $left-center
					
					left -40px

.basket
	
	@media (min-width contWMd)
		padding 15px 0 0
		font-size fz-head
		
		&__title
			position relative
			padding 5px 0
			
			&:before
				sprite($iconbasket)
				
				@extend $bifaf
				@extend $left-center
				
				left -40px
				
		&__link
			display block
	
	@media (min-width contWLg)
		margin 0 50px 0 150px
		
	@media (min-width contWMd) and (max-width (contWLg - 1))
		margin 0 50px
	
	@media (max-width (contWMd - 1px))
		&__link
			sprite($busket)
			position relative
			margin-right 50px
			
			&:after
				display inline-block
				width 30px
				height 30px
				content '5'
				background dark-gray
				border-radius 50%
				position absolute
				right -8px
				bottom -8px
				padding 4px
				text-align center
				color white
				font-size fz-main+6
				box-sizing border-box
				
	&__link
		color blue
		text-decoration underline

.main-menu
	
	@media (min-width contWMd)
		position relative
		font-size fz-main+1
		
		&__burger
			z-index 0
			width 100%
			height 36px
			position absolute
			background yellow
			transform skew(-30deg)
		
		&__list
			width 100%
			
		&__item
			display inline-block
			text-align center
			
		&__a
			display inline-block
			position relative
			z-index 1
			padding 8px (250/12)px
			
			&--active
				pointer-events none
			
			@media (min-width contWLg)
				padding 8px (550/12)px
	
	@media (max-width (contWMd - 1px))
		padding 10px
		background lighterest-gray
		height 50px
		transition height .5s
		overflow hidden
		
		&--open
			height 230px
			transition height .5s
		
		&__list
			list-style-type none
		
		&__burger
			display inline-block
			float right
			cursor pointer
			height 30px
			
			&-strip
				margin 12.5px 0
				transition .5s
				width 46px
				height 5px
				background light-gray
				display inline-block
				position relative
				
				&:before
				&:after
					transition .5s
					width @width
					height @height
					background @background
					display @display
					content ''
					position absolute
					left 0
					right 0
					margin auto
				
				&:before
					transition .5s
					top -12px
					
				&:after
					transition .5s
					bottom -12px
				
				&--open
					transition .5s
					height 0
					transform rotate(90deg)
					
					&:before
					&:after
						transition .5s
						width 30px

					&:before
						transition .5s
						transform rotate(45deg)
						top -2.5px
					
					&:after
						transition .5s
						transform rotate(-45deg)
						bottom -2.5px
				
		
		&__a
			display inline-block
			padding 5px 5px 10px
			
			&--active
				pointer-events none