// хэдэр
// логотип
mix-logo-title()
	font-family zopa
	font-size logo-text

mix-logo-slogan()
	font-size logo-slogan

// номера телефонов
mix-contacts-number()
	font-size phone-text
	color gray-logo

// корзина
mix-bucket-counter()
	font-size bucket-counter
	color white

mix-bucket-text()
	font-size bucket-text

// навигационное меню
mix-menu-a()
	font-size menu-text-sm
	color white


// эсайд
// заголовок
mix-aside-title()
	font-size aside-title
	font-weight normal

mix-menu-items()
	font-size aside-menu


// контент
mix-main-title()
	font-size main-title
	font-weight normal

// элемент каталога
mix-catitem-title()
	font-size item-title
	font-weight normal

mix-catitem-counter()
	font-size item-counter

mix-catitem-text()
	font-size item-text