// хэдэр
// логотип
mix-logo-title()
	font-family zopa
	font-size logo-text

mix-logo-slogan()
	font-size logo-slogan

// номера телефонов
mix-contacts-number()
	font-size phone-text
	color gray-logo

// корзина
mix-bucket-counter()
	font-size bucket-counter
	color white

mix-bucket-text()
	font-size bucket-text

// навигационное меню
mix-menu-a()
	font-size menu-text-sm
	color white


// эсайд
// заголовок
mix-aside-title()
	font-size aside-title
	font-weight normal

mix-menu-items()
	font-size aside-menu


// контент
// заголовок
mix-main-title()
	font-size main-title
	font-weight normal

// каталог
// элемент каталога
mix-catitem-title()
	font-size item-title
	font-weight normal

mix-catitem-counter()
	font-size item-counter

mix-catitem-text()
	font-size item-text

// заказ печати
mix-print-title()
	font-size print-title
	font-weight normal
	text-align-last auto

mix-pcolor-btn()
	font-size print-btn

mix-pnumber()
	font-size print-counter

mix-psides-radio()
	font-size print-radio

mix-psum-number()
	font-size print-number
	color white

mix-psum-title()
	font-size print-sum-title
	color gray-logo

mix-psum-sum()
	font-size print-sum-sum
	text-transform uppercase

mix-print-btn()
	font-size print-sum-title
	color gray-logo

mix-psend-input()
	font-size print-send-input

mix-psend-btn()
	font-size print-send-btn
	color black

// один шарик
mix-bal-text()
	font-size bal-text
	line-height 1.5

mix-bal-sum()
	font-size bal-sum

mix-bal-sel()
	font-size bal-sel

mix-bal-btn()
	font-size bal-btn

print-item()
	&__title
		mix-print-title()
		
		margin-bottom 20px
	
	&__option
		mix-psides-radio()
	
		position relative
		margin-bottom 15px
		
		&:last-child
			margin-bottom 20px
		
		&:before
			content ''
			display inline-block
			width 24px
			height 24px
			position absolute
			border-radius 50%
			background-color gray-border
			
	&__radio
		display none
	
	&__label
		display inline-block
		padding 2px 0 2px 35px
		position relative
	
	&__radio:checked + &__label
		&:after
			content ''
			display inline-block
			width 12px
			height 12px
			background-color rose
			border-radius 50%
			position absolute
			left 6px
			top 0
			bottom 0
			margin auto
	
	@media (min-width sm-min)
		&__option
			width 50%
			display inline-block
			margin-bottom 25px