/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$iconbasket_name = 'iconbasket';
$iconbasket_x = 80px;
$iconbasket_y = 24px;
$iconbasket_offset_x = -80px;
$iconbasket_offset_y = -24px;
$iconbasket_width = 35px;
$iconbasket_height = 35px;
$iconbasket_total_width = 1200px;
$iconbasket_total_height = 142px;
$iconbasket_image = '../img/spritePng.png';
$iconbasket = 80px 24px -80px -24px 35px 35px 1200px 142px '../img/spritePng.png' 'iconbasket';
$iconphone_name = 'iconphone';
$iconphone_x = 115px;
$iconphone_y = 24px;
$iconphone_offset_x = -115px;
$iconphone_offset_y = -24px;
$iconphone_width = 35px;
$iconphone_height = 35px;
$iconphone_total_width = 1200px;
$iconphone_total_height = 142px;
$iconphone_image = '../img/spritePng.png';
$iconphone = 115px 24px -115px -24px 35px 35px 1200px 142px '../img/spritePng.png' 'iconphone';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 24px;
$logo_offset_x = 0px;
$logo_offset_y = -24px;
$logo_width = 80px;
$logo_height = 118px;
$logo_total_width = 1200px;
$logo_total_height = 142px;
$logo_image = '../img/spritePng.png';
$logo = 0px 24px 0px -24px 80px 118px 1200px 142px '../img/spritePng.png' 'logo';
$strip_name = 'strip';
$strip_x = 0px;
$strip_y = 0px;
$strip_offset_x = 0px;
$strip_offset_y = 0px;
$strip_width = 1200px;
$strip_height = 24px;
$strip_total_width = 1200px;
$strip_total_height = 142px;
$strip_image = '../img/spritePng.png';
$strip = 0px 0px 0px 0px 1200px 24px 1200px 142px '../img/spritePng.png' 'strip';
$spritesheet_width = 1200px;
$spritesheet_height = 142px;
$spritesheet_image = '../img/spritePng.png';
$spritesheet_sprites = $iconbasket $iconphone $logo $strip;
$spritesheet = 1200px 142px '../img/spritePng.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
