// шрифты
zopa = 'ZopaRegular', sans-serif
cambria = 'Lora', serif
ptsans = 'pt_sans', serif

// цвета
dark-gray = #292929
light-gray = #929191
lighter-gray = #b1b1b1
lightest-gray = #c9c9c9
lighterest-gray = #e8e8e8
white = #fff
blue = #0a75ad
dark-blue = #292e32
yellow = #ffd02e
red = #ff5548

// размеры шрифтов
fz-main = 15px
fz-little = fz-main - 4
fz-head = fz-main + 4