// ширины враппера
wr-w-xs = 320px
wr-w-sm = 768px
wr-w-md = 980px
wr-w-lg = 1200px

// размеры шрифтов
fz-main = 16px

logo-text = fz-main * 3.625
logo-slogan = fz-main

phone-text = fz-main * 1.1875

menu-text = fz-main

main-title = fz-main * 1.5
item-title = fz-main * 1.0625
item-counter = fz-main
item-text = fz-main * .875

aside-menu = fz-main * 1.0625

// цвета
white = #fff

ohra = #ffd02e

rose = #ff5548

blue-link = #0a75ad

gray-text = #575756
gray-mid = #afafaf
gray-logo = #292929

black = #000

// шрифты
zopa = 'ZopaRegular', sans-serif
cambria = 'Lora', serif
ptsans = 'pt_sans', serif