// брейкпоинты
xs-max = 797px
sm-min = xs-max + 1
sm-max = 1009px
md-min = sm-max + 1
md-max = 1229px
lg-min = md-max + 1

// ширины враппера
wr-w-xs = 320px
wr-w-sm = 768px
wr-w-md = 980px
wr-w-lg = 1200px

// размеры шрифтов
fz-main = 16px

logo-text = fz-main * 3.625
logo-slogan = fz-main

phone-text = fz-main * 1.1875

bucket-text = fz-main * 1.1875
bucket-counter = fz-main * 1.625

menu-text = fz-main
menu-text-sm = fz-main * 1.1875

aside-title = fz-main * 1.5
aside-menu = fz-main * 1.0625

main-title = fz-main * 1.5

item-title = fz-main * 1.0625
item-counter = fz-main
item-text = fz-main * .875

print-title = fz-main * 1.25
print-btn = fz-main * .875
print-counter = fz-main * 1.0625
print-radio = fz-main
print-number = fz-main * 1.5
print-sum-title = fz-main * .9375
print-sum-sum = fz-main * 1.0625

print-send-input = fz-main * .875
print-send-btn = fz-main * .9375

// цвета
white = #fff

ohra = #ffd02e

rose = #ff5548

blue-link = #0a75ad

gray-border = #ccc
gray-text = #575756
gray-light = #929191
gray-mid = #afafaf
gray-logo = #292929

black = #000

// шрифты
zopa = 'zopa', sans-serif
cambria = 'lora', serif
ptsans = 'pt_sans', serif