/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$png_baloon_counter_name = 'png_baloon-counter';
$png_baloon_counter_x = 0px;
$png_baloon_counter_y = 89px;
$png_baloon_counter_offset_x = 0px;
$png_baloon_counter_offset_y = -89px;
$png_baloon_counter_width = 121px;
$png_baloon_counter_height = 146px;
$png_baloon_counter_total_width = 1200px;
$png_baloon_counter_total_height = 235px;
$png_baloon_counter_image = '../img/png-sprite.png';
$png_baloon_counter = 0px 89px 0px -89px 121px 146px 1200px 235px '../img/png-sprite.png' 'png_baloon-counter';
$png_bucket_big_name = 'png_bucket-big';
$png_bucket_big_x = 203px;
$png_bucket_big_y = 89px;
$png_bucket_big_offset_x = -203px;
$png_bucket_big_offset_y = -89px;
$png_bucket_big_width = 57px;
$png_bucket_big_height = 56px;
$png_bucket_big_total_width = 1200px;
$png_bucket_big_total_height = 235px;
$png_bucket_big_image = '../img/png-sprite.png';
$png_bucket_big = 203px 89px -203px -89px 57px 56px 1200px 235px '../img/png-sprite.png' 'png_bucket-big';
$png_bucket_name = 'png_bucket';
$png_bucket_x = 336px;
$png_bucket_y = 89px;
$png_bucket_offset_x = -336px;
$png_bucket_offset_y = -89px;
$png_bucket_width = 35px;
$png_bucket_height = 35px;
$png_bucket_total_width = 1200px;
$png_bucket_total_height = 235px;
$png_bucket_image = '../img/png-sprite.png';
$png_bucket = 336px 89px -336px -89px 35px 35px 1200px 235px '../img/png-sprite.png' 'png_bucket';
$png_call_name = 'png_call';
$png_call_x = 261px;
$png_call_y = 89px;
$png_call_offset_x = -261px;
$png_call_offset_y = -89px;
$png_call_width = 39px;
$png_call_height = 39px;
$png_call_total_width = 1200px;
$png_call_total_height = 235px;
$png_call_image = '../img/png-sprite.png';
$png_call = 261px 89px -261px -89px 39px 39px 1200px 235px '../img/png-sprite.png' 'png_call';
$png_car_name = 'png_car';
$png_car_x = 408px;
$png_car_y = 89px;
$png_car_offset_x = -408px;
$png_car_offset_y = -89px;
$png_car_width = 39px;
$png_car_height = 28px;
$png_car_total_width = 1200px;
$png_car_total_height = 235px;
$png_car_image = '../img/png-sprite.png';
$png_car = 408px 89px -408px -89px 39px 28px 1200px 235px '../img/png-sprite.png' 'png_car';
$png_color_border_name = 'png_color-border';
$png_color_border_x = 0px;
$png_color_border_y = 0px;
$png_color_border_offset_x = 0px;
$png_color_border_offset_y = 0px;
$png_color_border_width = 1200px;
$png_color_border_height = 88px;
$png_color_border_total_width = 1200px;
$png_color_border_total_height = 235px;
$png_color_border_image = '../img/png-sprite.png';
$png_color_border = 0px 0px 0px 0px 1200px 88px 1200px 235px '../img/png-sprite.png' 'png_color-border';
$png_logo_name = 'png_logo';
$png_logo_x = 122px;
$png_logo_y = 89px;
$png_logo_offset_x = -122px;
$png_logo_offset_y = -89px;
$png_logo_width = 80px;
$png_logo_height = 118px;
$png_logo_total_width = 1200px;
$png_logo_total_height = 235px;
$png_logo_image = '../img/png-sprite.png';
$png_logo = 122px 89px -122px -89px 80px 118px 1200px 235px '../img/png-sprite.png' 'png_logo';
$png_minus_name = 'png_minus';
$png_minus_x = 462px;
$png_minus_y = 89px;
$png_minus_offset_x = -462px;
$png_minus_offset_y = -89px;
$png_minus_width = 13px;
$png_minus_height = 4px;
$png_minus_total_width = 1200px;
$png_minus_total_height = 235px;
$png_minus_image = '../img/png-sprite.png';
$png_minus = 462px 89px -462px -89px 13px 4px 1200px 235px '../img/png-sprite.png' 'png_minus';
$png_phone_name = 'png_phone';
$png_phone_x = 372px;
$png_phone_y = 89px;
$png_phone_offset_x = -372px;
$png_phone_offset_y = -89px;
$png_phone_width = 35px;
$png_phone_height = 35px;
$png_phone_total_width = 1200px;
$png_phone_total_height = 235px;
$png_phone_image = '../img/png-sprite.png';
$png_phone = 372px 89px -372px -89px 35px 35px 1200px 235px '../img/png-sprite.png' 'png_phone';
$png_plus_name = 'png_plus';
$png_plus_x = 448px;
$png_plus_y = 89px;
$png_plus_offset_x = -448px;
$png_plus_offset_y = -89px;
$png_plus_width = 13px;
$png_plus_height = 13px;
$png_plus_total_width = 1200px;
$png_plus_total_height = 235px;
$png_plus_image = '../img/png-sprite.png';
$png_plus = 448px 89px -448px -89px 13px 13px 1200px 235px '../img/png-sprite.png' 'png_plus';
$png_present_name = 'png_present';
$png_present_x = 301px;
$png_present_y = 89px;
$png_present_offset_x = -301px;
$png_present_offset_y = -89px;
$png_present_width = 34px;
$png_present_height = 37px;
$png_present_total_width = 1200px;
$png_present_total_height = 235px;
$png_present_image = '../img/png-sprite.png';
$png_present = 301px 89px -301px -89px 34px 37px 1200px 235px '../img/png-sprite.png' 'png_present';
$spritesheet_width = 1200px;
$spritesheet_height = 235px;
$spritesheet_image = '../img/png-sprite.png';
$spritesheet_sprites = $png_baloon_counter $png_bucket_big $png_bucket $png_call $png_car $png_color_border $png_logo $png_minus $png_phone $png_plus $png_present;
$spritesheet = 1200px 235px '../img/png-sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
