<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Balooons
	include template/links
body
	.wrapper
		include template/cata-head
		main
			.container.dashed-border
				.row
					aside.col-lg-3
						include template/cata-aside
					section.col-lg-9
						include template/cata-content
			section.container
				include template/calculator
				
	script(src="js/main.js")