extends jade/template

block id
	-page_id = 'catalog'

block title
	title Улет | Каталог

block content
	include jade/catalog-content


	//- добавить белый фон в селект на стронице шарик
	//- уменьшить ширину в каталоге