extends template/template

block id
	-id = 'catalog'

block title
	title Balooons - Каталог

block content
	.container.dashed-border
		.row
			include template/aside

			include template/content-catalog
	