-var id = 'Каталог'
include template/cata-item
include template/cat-gal-item

<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Balooons
	include template/links
body
	.wrapper
		include template/cata-head

		.container.dashed-border
			.row
				aside.col-lg-3.col-md-3.col-sm-0
					include template/cata-aside

				main.col-lg-9.col-md-9.col-sm-6
					include template/cata-content

		footer.container
			include template/calculator
				
	script(src="js/main.js")