-catItem = {}

-catItem[1] = []
-catItem[1]['title'] = 'Шар красный'
-catItem[1]['src'] = 'img/baloon--red.jpg'
-catItem[1]['alt'] = 'Красный шарик'
-catItem[1]['price'] = '100 руб'

-catItem[2] = []
-catItem[2]['title'] = 'Шар зеленый'
-catItem[2]['src'] = 'img/baloon--green.jpg'
-catItem[2]['alt'] = 'Зеленый шарик'
-catItem[2]['price'] = '100 руб'

-catItem[3] = []
-catItem[3]['title'] = 'Шар фиолетовый'
-catItem[3]['src'] = 'img/baloon--purpur.jpg'
-catItem[3]['alt'] = 'Фиолетовый шарик'
-catItem[3]['price'] = '100 руб'

-catItem[4] = []
-catItem[4]['title'] = 'Шар синий'
-catItem[4]['src'] = 'img/baloon--blue.jpg'
-catItem[4]['alt'] = 'Синий шарик'
-catItem[4]['price'] = '100 руб'

mixin catalog-items()
	each val in catItem
		.col-xs-6.col-sm-4.col-lg-3
			.catalog-item
				h3.catalog-item__title=val.title
				.catalog-item__face
					img.catalog-item__img(src=val.src, alt=val.alt)
				.catalog-item__counter
					span.catalog-item__minus
						span.catalog-item__button
					span.catalog-item__plus
						span.catalog-item__button
					input.catalog-item__input(type='text' placeholder='0' pattern='[0-9]{,3}' maxlength='3')
				p.catalog-item__footer
					span.catalog-item__price=val.price
					button.catalog-item__btn В корзину