.centered
	.contacts.lefted
		.contacts__phone
			a.contacts__number(href='tel:+79005553535')
				span.contacts__number--gray +7 (900) 
				| 555-35-35
		.contacts__phone
			a.contacts__number(href='tel:+78005553535') 8 800 555 35 35