-asideMenu = {}

-asideMenu.baloons				= []
-asideMenu.baloons.href					= '#'
-asideMenu.baloons.title				= 'Шарики'

-asideMenu.baloonsWithPrint	= []
-asideMenu.baloonsWithPrint.href		= '#'
-asideMenu.baloonsWithPrint.title	= 'Шарири с печатью'

-asideMenu.garlands				= []
-asideMenu.garlands.href				= '#'
-asideMenu.garlands.title				= 'Гирлянды'

-asideMenu.statuettes			= []
-asideMenu.statuettes.href				= '#'
-asideMenu.statuettes.title			= 'Фигуры'

-asideMenu.compiled				= []
-asideMenu.compiled.href				= '#'
-asideMenu.compiled.title				= 'Готовые решения'

nav.menu
	ul.menu__list
		each val in asideMenu
			li.menu__item
				a.menu__a(href=val.href)=val.title