-printSize = {}

-printSize.inch12	= []
-printSize.inch12.id		= 'printSize12inch'
-printSize.inch12.title	= '12-дюймовые'

-printSize.inch14	= []
-printSize.inch14.id		= 'printSize14inch'
-printSize.inch14.title	= '14-дюймовые'

mixin printSizes()
	each val in printSize
		.print-size__option
			input.print-size__radio(type='radio' name='size-of-baloon' id=val.id required)
			label.print-size__label(for=val.id)=val.title

.print-size
	h3.print-size__title 4. Выберите размер
	+printSizes()