.print-number
	h3.print-number__title 2. Количество шаров
	p.print-number__row
		.print-number__counter
			input.print-number__input
		.print-number__options
			button.print-number__option 5
			button.print-number__option 10
			button.print-number__option 25
			button.print-number__option 50
			button.print-number__option 100