-printSize = {}

-printSize.12inch	= []
-printSize.12inch.id		= 'printSize12inch'
-printSize.12inch.title	= '12-дюймовые'

-printSize.14inch	= []
-printSize.14inch.id		= 'printSize14inch'
-printSize.14inch.title	= '14-дюймовые'

mixin printSizes()
	each val in printSize
		input.print-size__radio(type='radio' name='size-of-baloon' id=val.id required)
		label.print-size__label(for=val.id)=val.tite

.print-size
	h3.print-size__title 4. Выберите размер
	+printSizes()