.print-send
	input.print-send__input(type='name' placeholder='Ваше имя')
	input.print-send__input(type='tel' placeholder='Телефон для связи' pattern='+7[0-9]{10}' title='Введите номер телефона в формате +71234567890' required)
	input.print-send__btn(type='submit' value='Заказать')