.print-sum
	.print-sum__baloon
		span.print-sum__number#orserBaloonNumber 10 шт
	p.print-sum__row
		span.print-sum__title Стоимость
		span.print-sum__sum#orderBaloonSum 399 р
	button.print-sum__btn Заказать