.print-params
	.row
		.col-xs-12.col-sm-8.col-md-7.col-lg-8
			form.print-params__form(action='' method='post')
				include print-color
				include print-number
				include print-sides
				include print-size
				include print-blow